<!DOCTYPE html>
<html>
<head>
    <title>用户提交网站</title>
    <script>
        // JavaScript代码用于显示消息和定时重定向
        setTimeout(function () {
            // 获取消息元素
            var messageElement = document.getElementById('message');
            
            // 如果消息元素存在且包含文本内容
            if (messageElement && messageElement.textContent.trim().length > 0) {
                // 显示消息
                messageElement.style.display = 'block';
                
                // 3秒后重定向到初始页面
                setTimeout(function () {
                    window.location.href = '/';
                }, 3000);
            }
        }, 0); // 立即执行JavaScript代码
    </script>
</head>
<body>
    <h1>用户提交网站</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="name">姓名：</label>
        <input type="text" name="name" required><br>
        
        <label for="project">负责项目：</label>
        <input type="text" name="project" required><br>

        <label for="file">选择文件：</label>
        <input type="file" name="file" required><br>

        <input type="submit" value="提交文件">
    </form>

    <!-- 用于显示消息的div元素 -->
    <div id="message" style="display: none;"></div>
</body>
</html>
